/* Estilo geral para os botões de login */
button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

/* Botão do Google */
.google-btn {
  background-color: #4285f4;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-btn img {
  width: 20px;
  margin-right: 10px;
}

/* Botão do Facebook */
.facebook-btn {
  background: linear-gradient(
    to right,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px; /* Optional: Adjust padding to your preference */
  border-radius: 5px; /* Optional: Adds rounded corners */
  text-align: center;
  font-weight: bold;
  border: none; /* Optional: Removes border */
  cursor: pointer;
  transition: background 0.3s ease-in-out; /* Optional: Smooth transition for hover effect */
}

.facebook-btn:hover {
  background: linear-gradient(
    to right,
    #4f5bd5,
    #962fbf,
    #d62976,
    #fa7e1e,
    #feda75
  ); /* Inverts the gradient on hover */
}
.facebook-btn img {
  width: 20px;
  margin-right: 10px;
}

/* Botão do TikTok */
.tiktok-btn {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tiktok-btn img {
  width: 20px;
  margin-right: 10px;
}
